# node / nuxt
node_modules/
.nuxtrc
.nuxt/
.output/
.dist/
.cache/
*.log

# envs (muy importante)
.env
apps/*/.env
packages/*/.env

# Prisma
apps/api/prisma/dev.db
apps/api/prisma/*.db-journal

# IDE
.vscode/
.idea/
.DS_Store
